{% extends "auctions/layout.html" %}

{% block body %}
<style>
    .auction {
        display: grid ;
        grid-template-columns: 1fr 40%;
        grid-template-rows: repeat(2, auto, auto);
        row-gap: 16px;
        column-gap: 32px;
    }

    .bid {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    .comments {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }

    .mb-20 {
        margin-bottom: 20px;
    }

    .comments {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .comment-card {
        & header {
            display: flex;
            justify-content: space-between;
        }
    }
</style>

<main class="container auction">
    {% if is_winner %}
        <div class="alert alert-success mb-0 bid" role="alert">
            <p class="h6 font-weight-bold text-dark mb-0">Congratulations your bid won this auction. You'll soon contact you to arrange the next steps.</p>
        </div>
    {% elif highest_bid  %}
        <div class="alert alert-primary mb-0 bid" role="alert">
            <p class="h6 font-weight-bold text-dark mb-0">Highest Bid: {{ highest_bid.value }}</p>
        </div>
    {% endif %}
    <div>
        <h2>{{ auction.title }}</h2>
        {% if auction.image_url %}
            <div class="position-relative w-100 h-48 mb-3">
                <img src="{{ auction.image_url }}" alt="{{ title }}" height="200" class="img-fluid rounded">
            </div>
        {% else %}
            <div class="position-relative w-100 h-48 mb-3">
                <img src=" https://placehold.in/300x200@2x.png" height="200" alt="{{ title }}" class="img-fluid rounded">
            </div>
        {% endif %}

        <ul class="list-unstyled mb-2">
            {% for category in auction.category.all %}
                <li class="badge badge-secondary">
                    <a href="{% url 'index' %}?category={{ category.id }}" class="text-light no-hover">
                        {{ category.description }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <h3 class="text-muted mb-2 text-truncate text-dark">{{ auction.description }}</h3>
        <p class="text-muted mb-2 text-truncate text-dark">Start on: {{ auction.start_date }} and end on: {{ auction.end_date }}</p>
    </div>
    <div>
        {% if user.is_authenticated %}
            {% if is_owner and auction.is_active %}
                <div class="d-flex flex-column">
                    {% if close_auction_error %}
                        <div class="alert alert-danger" role="alert">
                            {{ close_auction_error }}
                        </div>
                    {% endif %}
                    <form action="{% url 'close_auction' auction.id %}" method="post" class="d-flex align-items-end w-100 mb-20">
                        {% csrf_token %}
                        <button class="btn btn-danger w-100">Close Auction</button>
                    </form>
                </div>
            {% endif %}
            <div class="d-flex flex-column">
                {% if place_bid_error %}
                    <div class="alert alert-danger" role="alert">
                        {{ place_bid_error }}
                    </div>
                {% endif %}
                <form
                    action="{% url 'place_bid' auction.id %}"
                    method="post"
                    class="d-flex align-items-end w-100 mb-20"
                    {% if not auction.is_active %} disabled {% endif %}
                    >
                    {% csrf_token %}

                    <div class="form-group mb-0 mr-2 flex-grow-1">
                        <label for="bid">Place a bid</label>

                        {% if highest_bid %}
                            <input class="form-control" type="text" name="bid" id="bid" placeholder="Minimum Bid: {{ highest_bid.value }}" required>
                        {% else %}
                            <input class="form-control" type="text" name="bid" id="bid" placeholder="Minimum Bid: {{ auction.minimum_bid_value }}" required>
                        {% endif %}
                    </div>
                    <button class="btn btn-light">Bid</button>
                </form>
            </div>
            <form action="{% url 'toggle_watchlist' auction.id %}" method="post">
                {% csrf_token %}
                
                {% if is_watched %}
                    <button class="btn btn-danger">Remove from watchlist</button>
                {% else %}
                    <button class="btn btn-primary">Add to watchlist</button>
                {% endif %}
            </form>
        {% endif %}
    </div>
    <section class="comments">
        <hr>
        <h3 class="sr-only">Comments</h3>
        {% if user.is_authenticated %}
            <form action="{% url 'comment' auction.id %}" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="new-comment">Write a new comment</label>
                    <textarea class="form-control" rows="2" id="new-comment" maxlength="500" name="comment" required></textarea>
                </div>
                <button class="btn btn-light" type="submit">Send</button>
            </form>
        {% endif %}

        <ul class="list-unstyled mb-2 comments">
            {% for comment in comments %}
                <li>
                    <section class="comment-card card">
                        <div class="card-body">
                            <header class="card-title">
                                <p class="mb-0">{{ comment.user }}</p>
                                <p class="mb-0">{{ comment.date }}</p>
                            </header>
                            <p class="mb-0">{{ comment.comment }}</p>
                        </div>
                    </section>
                </li>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}