{% extends "auctions/layout.html" %}

{% block body %}
<style>
    .auction {
        display: grid ;
        grid-template-columns: 1fr 40%;
        grid-template-rows: repeat(2, auto);
        row-gap: 16px;
        column-gap: 32px;
    }

    .bid {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    .mb-20 {
        margin-bottom: 20px;
    }
</style>

<main class="container auction">
    {% if highest_bid %}
        <div class="alert alert-primary mb-0 bid" role="alert">
            <p class="h6 font-weight-bold text-dark mb-0">Highest Bid: {{ highest_bid.value }}</p>
        </div>
    {% endif %}
    <div>
        <h2>{{ auction.title }}</h2>
        {% if auction.image_url %}
            <div class="position-relative w-100 h-48 mb-3">
                <img src="{{ auction.image_url }}" alt="{{ title }}" height="200" class="img-fluid rounded">
            </div>
        {% else %}
            <div class="position-relative w-100 h-48 mb-3">
                <img src=" https://placehold.in/300x200@2x.png" height="200" alt="{{ title }}" class="img-fluid rounded">
            </div>
        {% endif %}

        <ul class="list-unstyled mb-2">
            {% for category in auction.category.all %}
                <li class="badge badge-secondary">
                    <a href="{% url 'index' %}?category={{ category.id }}" class="text-light no-hover">
                        {{ category.description }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <h3 class="text-muted mb-2 text-truncate text-dark">{{ auction.description }}</h3>
        <p class="text-muted mb-2 text-truncate text-dark">Start on: {{ auction.start_date }} and end on: {{ auction.end_date }}</p>
    </div>
    <div>
        {% if user.is_authenticated %}
            <div class="d-flex flex-column">
                {% if place_bid_error %}
                    <div class="alert alert-danger" role="alert">
                        {{ place_bid_error }}
                    </div>
                {% endif %}
                <form action="{% url 'place_bid' auction.id %}" method="post" class="d-flex align-items-end w-100 mb-20">
                    {% csrf_token %}


                    <div class="form-group mb-0 mr-2 flex-grow-1">
                        <label for="bid">Place a bid</label>

                        {% if highest_bid %}
                            <input class="form-control" type="text" name="bid" id="bid" placeholder="Minimum Bid: {{ highest_bid.value }}" required>
                        {% else %}
                            <input class="form-control" type="text" name="bid" id="bid" placeholder="Minimum Bid: {{ auction.minimum_bid_value }}" required>
                        {% endif %}
                    </div>
                    <button class="btn btn-light">Bid</button>
                </form>
            </div>
            <form action="{% url 'toggle_watchlist' auction.id %}" method="post">
                {% csrf_token %}
                
                {% if is_watched %}
                    <button class="btn btn-danger">Remove from watchlist</button>
                {% else %}
                    <button class="btn btn-primary">Add to watchlist</button>
                {% endif %}
            </form>
        {% endif %}
    </div>
</main>
{% endblock %}