{% extends "auctions/layout.html" %}

{% block body %}

<main class="container">
    <h1 class="sr-only">Active Auctions</h1>

    <ul class="list-unstyled active-auctions">
        {% for auction in auctions %}
            <li>
                <a href="{% url 'listing_entry' auction.id %}" class="d-block p-3 bg-white rounded shadow-sm hover-shadow transition-shadow no-hover">
                    {% if auction.image_url %}
                        <div class="position-relative w-100 h-48 mb-3">
                            <img src="{{ auction.image_url }}" alt="{{ title }}" height="200" class="img-fluid rounded">
                        </div>
                    {% else %}
                        <div class="position-relative w-100 h-48 mb-3">
                            <img src=" https://placehold.in/300x200@2x.png" height="200" alt="{{ title }}" class="img-fluid rounded">
                        </div>
                    {% endif %}

                    <h2 class="h5 font-weight-semibold mb-2 text-dark">{{ auction.title }}</h2>
                    <p class="text-muted mb-2 text-truncate text-dark">{{ auction.description }}</p>
                    <p class="h6 font-weight-bold text-dark">Minimum Bid: ${{ auction.minimum_bid_value }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
</main>

{% endblock %}