{% extends "auctions/layout.html" %} {% block body %}


<main class="container">
    <h2 class="mb-4">New Listing</h2>

    <form method="POST" action="{% url 'new_listing' %}">
        {% csrf_token %}

        <div class="form-group">
            <input
                autofocus
                class="form-control"
                type="text"
                name="title"
                placeholder="Title"
                required
            />
        </div>

        <div class="form-group">
            <textarea
                class="form-control"
                name="description"
                placeholder="Description"
                required
            ></textarea>
        </div>

        <div class="form-group">
            <input
                class="form-control"
                type="url"
                name="image_url"
                placeholder="Image URL"
            />
        </div>

        <div class="form-group">
            <input
                class="form-control"
                type="text"
                name="minimum_bid_value"
                placeholder="Minimum Bid Value"
                required
            />
        </div>

        <div class="form-group">
            <input
                class="form-control"
                type="date"
                name="start_date"
                placeholder="Start date"
                required
            />
        </div>

        <div class="form-group">
            <input
                class="form-control"
                type="date"
                name="end_date"
                placeholder="End date"
                required
            />
        </div>

        <div class="form-group">
            <select name="category" class="form-control" multiple required>
                <option value="" selected disabled>Category</option>
                {% for category in categories %}
                <option value="{{ category.pk }}">
                    {{ category.description }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" name="is_active" id="is_active" checked>
            <label class="form-check-label" for="is_active">
                Is active?
            </label>
        </div>

        <button class="btn btn-primary">Save</button>
    </form>
</main>
{% endblock %}

